<div class="section" id="contact-section">
    <div class="container-fluid">
        <!-- <div class="row d-flex justify-content-center">
        </div> -->
        <div class="mapa" style="background-image: url('{{contacto_imagen}}')">
            {{#each paises}}

            <div class="pais drag pais-cont-{{@index}}" draggable="true">
                <p class="t_pais">{{pais_name}}</p>
                {{#each oficinas}}
                <p class="t_oficina">
                    {{direccion}}
                    <br>
                    {{telefono}}
                </p>
                <p class="t_oficina text"></p>
                {{/each}}
                <div class="pais_arrow">
                    <img src="{{pais_arrow}}" alt="">
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-9">
                <div class="row">

                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <img src="/assets/img/contactanos-titulo.svg" class="section-title clients-title" alt="">
                </div>
                <form>
                    <div class="text form-group">
                        <label for="exampleInputNombre">NOMBRE</label>
                        <br>
                        <input type="text" class="form-control-sm back" id="exampleInputNombre" aria-describedby="emailHelp"
                            placeholder="Nombre">
                    </div>
                    <div class="text form-group">
                        <label for="exampleInputEmail">CORREO</label>
                        <br>
                        <input type="email" class="form-control-sm back" id="exampleInputEmail" placeholder="Email">
                    </div>
                    <div class="text form-group">
                        <label for="exampleInputAsunto">ASUNTO</label>
                        <br>
                        <input type="text" class="form-control-sm back" id="exampleInputAsunto" placeholder="Asunto">
                    </div>
                    <div class="text form-group-sm">
                        <label for="exampleFormControlMensaje">MENSAJE</label>
                        <br>
                        <textarea class="form-control-sm back" id="exampleFormControlAsunto" rows="3"></textarea>
                    </div>
                    <a class="text" href="">ENVIAR</a>
                </form>
            </div>
        </div>
    </div>
</div>
{{#each paises}}
<div class="section seccion-oficinas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="office-title">
                    <img src="{{pais_image}}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="carousel">
                    {{#each fotos}}
                    <img src="{{foto}}" alt="Image 1" />
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}