<div class="section" id="proyecto-backstage" data-id="{{id}}">
    <div class="container">
        <div class="row">
            <div class="titulo col-12">
                {{!-- <img src="/assets/img/proyecto/h1_backstage.jpg" alt=""> --}}
            </div>
        </div>
        <div class="row">
            <div class="galeria col-12">
                <div class="carousel">
                    {{#each imagenes_backstage}}
                    <img src="{{imagen}}" alt="Image 1" />
                    {{/each}}
                </div>
            </div>
        </div>
        <h2 class="text d-flex justify-content-center">TAGS:</h2>
        <div class="row text ">
            <div class="tags ">
                {{#each tags}}
                <p class="">
                    {{nombre_del_tag}} -
                </p>
                {{/each}}
                
            </div>

        </div>
        <!-- <div class="row">
        </div> -->
    </div>
   
    {{#proyecto}}
    {{#each this}}
       
    
    <div class="pie-de-pagina" id="proyecto-{{proyecto_entry.id}}">
        <p class="text1">{{proyecto_entry.titulo_proyecto}}</p>
        <p class="text2">SIGUIENTE PROYECTO</p>
        <p class="text2"><a id="next-proj" href="/proyecto/Proyecto-{{proyecto_entry.id}}"><img src="/assets/img/next-project.svg" alt=""></a></p>
    </div>
    {{/each}}
    {{/proyecto}}
</div>