<div class="section" id="proyecto-titulo" >
        <video id="video-fullscreen" height="auto" width="100%" controls loop>
            <source src="{{video_fullscreen}}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    <div class="container-fluid">
        <h1 class="text d-flex justify-content-center" >{{titulo_proyecto}}</h1>
        <div class="row">
                <div class="offset-1"></div>
                <div class="text col-2">{{tipo_de_proyecto}}</div>
                <div class="text col-2">BIOGRAPHY</div>
                <div class="text col-1">YEAR: {{año}}</div>
                <div class="text col-1">SEASON: {{temporadas}}</div>
                <div class="text col-2">EPISODES:{{episodios}}</div>
                <div class="text col-2">CLIENT: <img src="{{logotipo_del_cliente}}" alt=""></div>
                <div class="offset-1"></div>
        </div>
    </div>
</div>