<div class="section" id="proyecto-sinopsis">
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{#each galeria_sinopsis}}
                {{#if @first}}
                <img class="imagen-sinopsis" src="{{imagen_sinopsis}}">
                {{/if}}
                {{/each}}
            </div>
            <div class="sinopsis col-6">
                <div class="titulo">
                    <img class="h1-sinopsis" src="/assets/img/title-sinopsis.svg" alt="">
                </div>
                <div class="texto t_sinopsis">
                    <p>{{texto_sinopsis}}</p>
                </div>
                <div class="row">
                    <div class="texto_cast directores col-4">
                        <p class="cast-title">{{texto_directores}}:</p>
                        <p class="cast-list">
                            {{#each directores}}
                            {{nombre}} <br>
                            {{/each}}
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="texto_cast actores col-8">
                        <p class="cast-title">{{texto_actores}}:</p>
                        <p class="cast-list">
                            {{#each actores}}
                            {{nombre}} <br>
                            {{/each}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>