<div class="section" id="proyecto-titulo" >
        <video id="video-fullscreen" height="auto" width="100%" controls loop>
            <source src="{{video_fullscreen}}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    <div class="container-fluid">
            <h1 class="text1 d-flex justify-content-center" >{{titulo_proyecto}}</h1>
        <div class="row contenedor">
            <div class="text2 col-3">
                <p>{{tipo_de_proyecto}} / BIOGRAPHY</p>
            </div>
            <div class="text2 col-3">
                <p>YEAR: {{año}}</p>
            </div>
            <div class="text2 col-3">
                <p>SEASON: {{temporadas}}  EPISODES:{{episodios}}</p>
            </div>
            <div class="text2 col-auto">
                <p>CLIENT:</p>
                <img src="{{logotipo_del_cliente}}" alt="">
            </div>
        </div>
    </div>
</div>